.btn-agregar{
    background-color: darkgreen;
    border-color: darkgreen;
    width: 100% !important;
    margin: 0.5em
}

.btn-agregar:focus, .btn-agregar:hover{
    background-color: darkolivegreen;
    border-color: darkgreen !important;
    width: 100% !important
}

.btn-nota{
    background-color: #1919FF;
    border-color: #1919FF;
    width: 100% !important;
    margin: 0.5em
}
